// Include any default variable overrides here (though functions won't be available)
$primary: #5265e1;
$secondary: #fa5959;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Custom styles for the underlined navbar
html,
body {
  overflow-x: hidden;
}

.navbar {
  max-width: 100%;
}

#main-navbar {
  background: none;
}

.button-padding {
  padding: 0.5rem 1rem;
}
.nav-underline {
  .nav-link {
    color: grey;
    position: relative;
    text-decoration: none;

    &.active {
      font-weight: bold;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: red;
      }
    }
  }
}

//Custom styles for the cards
#card-image1,
#card-image2 {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

#card-image3 {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

// #card-container {
//   display: flex;
//   padding-bottom: 3rem;
//   padding-top: 3rem;
// }

// #card1 {
//   position: relative;
//   margin-top: -3rem;
// }

// #card3 {
//   position: relative;
//   margin-top: 3rem;
// }

// @media (max-width: 567px) {
//   #card2 {
//     margin;
//   }
// }
